<div class="container mt-3">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <img src="assets/dummy.png">
    </div>
    <div class="col-md-6">
      <button class="btn btn-light" (click)="callAuthoriseApi()">Login with <img src="assets/MyInfoLogo.png"
          alt="myInfo" class="myInfo-icon" /></button>
      <form [formGroup]="profileForm" (ngSubmit)="submit()" class="mt-3">
        <div class="form-row">
          <h3>Personal Details</h3>
          <div class="form-group col-12">
            <label>Full Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group col-12">
            <label>NRIC (for Singaporean / PR) / Passport (for Foreigner)</label>
            <input type="text" class="form-control" formControlName="uinfin">
          </div>
          <div class="form-group col-12">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
          </div>
          <!-- <div class="form-group col-6">
            <label>Phone Number</label>
            <input type="text" class="form-control" formControlName="mobileno">
          </div> -->
          <div class="form-group col-6">
            <label>Date of Birth (yyyy-mm-dd)</label>
            <input type="text" class="form-control" formControlName="dob">
          </div>
          <div class="form-group col-6">
            <label>Gender</label>
            <input type="text" class="form-control" formControlName="sex">
          </div>
          <div class="form-group col-6">
            <label>Nationality</label>
            <input type="text" class="form-control" formControlName="nationality">
          </div>
          <div class="form-group col-6">
            <label>Race</label>
            <input type="text" class="form-control" formControlName="race">
          </div>
          <div class="form-group col-6">
            <label>Marital Status</label>
            <input type="text" class="form-control" formControlName="marital">
          </div>
          <div class="form-group col-6">
            <label>Education</label>
            <input type="text" class="form-control" formControlName="edulevel">
          </div>
        </div>
        <div class="form-row balance-info mt-3">
          <div class="form-group col-12">
            <!-- <h4>Other Info</h4> -->
            <h5></h5>
            <!-- Special Account (SA)
                Medisave Account (MA)
                Retirement Account (RA) -->
            <label>CPF Account Balance (Ordinary Account)</label>
            <input type="text" class="form-control" formControlName="cpfbalances">
          </div>
          <div class="form-group col-12">
            <label>Vehicle No.</label>
            <input type="text" class="form-control" formControlName="vehicleno">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked style="margin-top: 0.5em;">
            <label class="form-check-label" for="exampleCheck1">Terms & Conditions</label>
          </div>
        </div>
        <button class="btn btn-check mt-3">Check Eligibility</button>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
  <p>
  </p>
</div>
