label,
button,
input,
h3,
h4,
h5 {
  color: #fff;
}

.form-control {
  background: #333333;
  border: 1px solid #333333;
  border-radius: 0;
}

.btn-check {
  background: #00adef;
  border-radius: 0;
  color: #fff;
}

.myInfo-icon {
  width: 10%;
}

.btn-light {
  color: #000;
}
