<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-light bg-black">
  <div class="container">
    <span class="navbar-brand mb-0 h1"><img src="assets/mb-logo-fs.png" alt="logo" />
    </span>
  </div>
</nav>

<router-outlet></router-outlet>
